<div class="container">
	
	
	<div class="timeline-item" date-is='September 2019 - Present'>
		<h2>Senior User Experience Writer</h2></h2>
		<p>Rapid7 - Austin, Texas</p>
			<ul>
			<li>Write documentation for:<ul>
			<li>Metasploit Pro</li>
			<li>InsightAppSec</li>
			<li>AppSpider</li>
			<li>Offensive Security</li>
			</ul>
			</li>
			<li>Maintain API documentation for:<ul>
			<li>InsightOps</li>
			<li>tCell</li>
			<li>AppSpider</li>
			<li>InsightIDR</li>
			</ul>
			</li>
			<li>Create customer communications for feature releases and products changes. <ul>
			<li>Email</li>
			<li>In app announcements</li>
			<li>Changelog</li>
			</ul>
			</li>
			<li>Organized and rewrote Metasploit Pro documentation</li>
			<li>Supported teammates by picking up tickets</li>
			<li>Trained teammates on docs-as-code process by hosting weekly training sessions and created internal documentation on:<ul>
			<li>Git</li>
			<li>GitHub</li>
			<li>Visual Studio Code</li>
			<li>Vale Server</li>
			</ul>
			</li>
			<li>Created training on OpenAPIs</li>
			<li>Provide guidance on copy for product UI elements</li>
			<li>Uphold style guide standards</li>
			<li>Create standards for in app announcements</li>
			<li>Provide guidance and feedback on developer documentation including:<ul>
			<li>Developer portal MVP</li>
			<li>API documentation standards</li>
			<li>Beta documentation standards</li>
			<li>Documentation for releasing new features</li>
			</ul>
			</li>
			<li>Created metrics for help site</li>
			<li>Implemented tooling around docs-as-code including:<ul>
			<li>Converting the style guide to Vale</li>
			<li>Configuring markdownlint plugin</li>
			</ul>
			</li>
			</ul>

	</div>
	
	<div class="timeline-item" date-is='January 2018 - August 2019'>
		<h2>Developer Documentation Specialist</h2>
		<p>BigCommerce - Austin, Texas</p>
		<ul>
		  <li>Documentation<ul>
		      <li>Create API reference files in Swagger 2.0 and Open API 3.0</li>
		      <li>Create Open API 3.0 template for use across the company</li>
		      <li>Write tutorials, reference sections, developer guides and code samples</li>
		      <li>Work closely with the developer advocate to create content for developers</li>
		      <li>Manage site content and organization based on company goals</li>
		      <li>Took initiative to create content based on feedback from internal and external stakeholders</li>
		      <li>Provide engineers feedback on APIs after testing</li>
		      <li>Test API spec files against a linter</li>
		    </ul>
		  </li>
		  <li>Project Management<ul>
		      <li>Overhaul of developer documentation</li>
		      <li>Researched SaaS vs home grown options</li>
		      <li>Reviewed API Reference and articles for completeness, relevance and recent information.</li>
		      <li>Rewrote all API documentation &amp; API references on developer.bigcommerce.com</li>
		      <li>Met with engineering teams to address incorrect information</li>
		      <li>Looked through code base to find information</li>
		      <li>Worked with internal teams to find “tribal”information and create content</li>
		      <li>Created a timeline and made sure to meet goals. New site was released within a year.</li>
		      <li>Managed project to create a style guide and update all documentation to match</li>
		      <li>Researched industry standards</li>
		      <li>Led effort with team to get all articles updated within 3 months</li>
		    </ul>
		  </li>
		  <li>Training<ul>
		      <li>Trained 3 team members</li>
		      <li>Created plan on how to organize, divide work and create subject matter experts</li>
		      <li>Created a 30, 60 and 90 day training plan</li>
		      <li>Work with new hires on projects</li>
		      <li>Do check- ins to see career goals and how I can help them get there</li>
		    </ul>
		  </li>
		  <li>Process Management<ul>
		      <li>Monitor JIRA backlog for issues and give a priority based on feedback and company initiatives</li>
		      <li>During sprint planning make sure work is being completed in a timely manner</li>
		      <li>Monitor analytics for developer site decide on content to create</li>
		      <li>Use Agile with other writers to manage projects and sprints</li>
		    </ul>
		  </li>
		</ul>
	</div>
	
	<div class="timeline-item" date-is='January 2017 - December 2017'>
		<h2>Data Services - Implementation Engineer</h2>
		<p>Q2ebanking - Austin, Texas</p>
		
		<ul>
			<li>Create custom Python scripts</li>
			<li>Work with current code templates and adjust each on depending on the needs of the bank/credit union</li>
			<li>Write custom scripts including:<ul>
			<li>Parse data from csv or txt document</li>
			<li>Match data from different files</li>
			<li>Handle balance data</li>
			<li>Create SQL look ups for use later</li>
			</ul>
			</li>
			<li>Use Python and MySQL to manage large datasets</li>
			<li>Test implementation with customer until ready for production</li>
			<li>Project Management<ul>
			<li>Go over needs and wants</li>
			<li>Discuss feasibility and give alternatives</li>
			<li>Keep in touch with clients throughout the process to make sure changes are correct</li>
			</ul>
			</li>
			<li>During final production push work outside business hours if needed to make sure changes work without issue</li>
			<li>Keep up with assigned cases and new clients</li>
			<li>Manage my case queue and make sure each project is done on time</li>
			<li>Keep in touch with each bank or credit union project manager</li>
			<li>Provide help to L1 and L2 support reps</li>
			<li>Participate in on-call to handle high level issues</li>
		</ul>

	</div>
	
</div>